{
    "version": 2,
    "configurePresets": [
      {
        "name": "default",
        "inherits": "vcpkg",
        "environment": {
          "VCPKG_ROOT": "C:/Program Files/vcpkg"
        },
		"cacheVariables": {
          "CMAKE_TOOLCHAIN_FILE": "$env{VCPKG_ROOT}/scripts/buildsystems/vcpkg.cmake",
		  "CMAKE_CXX_COMPILER": "<command or path to compiler>",
		  "CMAKE_C_COMPILER": "<command or path to compiler>"
        }
      }
    ]
  }